<!DOCTYPE html>
<html>
<head>
  <title>TinyApp - Login</title>
</head>
<body>
  <div style="max-width: 800px;">
    <% include partials/_header %>

    <form action="/login" method="POST">
      Login:
      <input type="email" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="Submit">
    </form>

    Or <a href="/register">register</a>.
  </div>
</body>
</html>